.git
.gitignore
.github
__pycache__
*.pyc
*.pyo
.pytest_cache
.ruff_cache
.uv-cache
.agentcore
.mypy_cache
.venv
venv
env
.env
logs/
tests/
docs/
website/
trash/
**/node_modules/
tools/
README.md
*.md
.DS_Store
.pry
.vscode
